@import "../../colorVariables.scss";

.redirect-button {
    padding: 10px;
    height: 50px;
    width: 50px;
    border: none;

    &.with-icon {
        border-radius: 50%;
        background-color: $background-grey;
        font-size: 17px;

        &:hover {
            cursor: pointer;
            background-color: $hover-background-grey;
        }

        svg {
            color: $font-grey;
        }
    }

    &.with-label {
        border-radius: 10px;
        background-color: white;
        font-weight: 600;

        p {
            color: $background-black;
        }
    }

    &.play-button {
        background-color: $green-button;
        color: $background-black;
    }
}