@import "../../colorVariables.scss";

.app-content-section-container {
    background-color: $background-grey;
    width: 62%;
    height: 85vh;
    border-radius: 15px;
    padding: 2px 15px;
    margin-top: 10px;
    overflow-y: auto;

    &::-webkit-scrollbar {
        background: $background-black;
        width: 10px;
        border-radius: 5px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: $background-grey-lighter;
        border-radius: 5px;
    }
}