$background-black: #0f0f0f;
$background-grey: #2e2e2e;
$hover-background-grey: #424242;
$background-grey-lighter: $hover-background-grey;
$hover-background-grey-lighter: #616161;;
$font-grey: #b4b4b4;
$font-white: #ffffff;