$background-black: #0f0f0f;
$background-grey: #2e2e2e;
$hover-background-grey: #424242;
$background-grey-lighter: $hover-background-grey;
$hover-background-grey-lighter: #616161;;
$font-grey: #b4b4b4;
$font-white: #ffffff;


$pop--purple: #610085;
$rock--red: #6a1b18;
$regueton-pink: #ad3155;
$r-and-b-pink: #fe73d6;
$vallenato-yellow: #ffc863;
$favorites-color: #0f3b58;

$green-button: #1ed760;
$hover-green-button: #3be477;