@import "../../colorVariables.scss";

.artists-container {
    h2 {
        margin-bottom: 0;
    }
    .artists-page-components-container {
        display: flex;
        gap: 8px;
    }
}

.playlists-container {
    h2 {
        margin-bottom: 0;
    }
    .playlist-page-components-container {
        display: flex;
        gap: 8px;
    }
}
